.PreviewHeader_header__d6Cxz {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    line-height: 3.5;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #7b4dd6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px
}

    .PreviewHeader_header__d6Cxz a {
        text-decoration: underline;
        margin: 0 6px
    }

        .PreviewHeader_header__d6Cxz a:hover {
            color: #fff
        }

.UserIntro_login__IlRiP {
    font-size: 14px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-left: 24px;
    color: #666
}

    .UserIntro_login__IlRiP .UserIntro_iconMe__Di06k {
        font-size: 24px;
        color: #554d56;
        margin-right: 8px
    }

    .UserIntro_login__IlRiP:hover {
        color: #7b4dd6
    }

        .UserIntro_login__IlRiP:hover .iconfont {
            color: #7b4dd6
        }

.UserIntro_avatar__38Ckc {
    height: 37px;
    padding: 2.5px 0
}

    .UserIntro_avatar__38Ckc img {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-left: 24px;
        cursor: pointer
    }

.UserIntro_userInfo__2GChT {
    background-color: #fff;
    width: 190px;
    padding: 0 0 8px;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1)
}

    .UserIntro_userInfo__2GChT .UserIntro_name__1DfoK {
        padding: 16px 32px 8px
    }

        .UserIntro_userInfo__2GChT .UserIntro_name__1DfoK p {
            font-size: 14px;
            color: #999;
            line-height: 20px
        }

    .UserIntro_userInfo__2GChT a {
        padding: 0 32px;
        display: block;
        height: 36px;
        line-height: 36px
    }

        .UserIntro_userInfo__2GChT a:hover {
            background-color: #fafafa;
            color: #333
        }

.SubNav_subNav__GWkXg {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between
}

    .SubNav_subNav__GWkXg .SubNav_link__2ipNs {
        margin-right: 32px;
        font-size: 16px;
        line-height: 84px;
        color: #666;
        position: relative;
        height: 84px;
        word-break: keep-all
    }

        .SubNav_subNav__GWkXg .SubNav_link__2ipNs.SubNav_active__26R4X {
            color: #333;
            font-weight: 700
        }

            .SubNav_subNav__GWkXg .SubNav_link__2ipNs.SubNav_active__26R4X:after {
                content: "";
                display: block;
                position: absolute;
                width: 24px;
                height: 4px;
                border-radius: 2px;
                background-color: #7b4dd6;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0
            }

        .SubNav_subNav__GWkXg .SubNav_link__2ipNs:hover {
            color: #7b4dd6
        }

    .SubNav_subNav__GWkXg .SubNav_iconarrowDown__25CMb {
        font-size: 12px;
        color: #ccc;
        margin-left: 2px
    }

    .SubNav_subNav__GWkXg .SubNav_moreBtn__2vsPQ {
        cursor: pointer;
        font-size: 16px;
        line-height: 22px;
        color: #666;
        display: -moz-box;
        display: flex;
        -moz-box-align: center;
        align-items: center
    }

        .SubNav_subNav__GWkXg .SubNav_moreBtn__2vsPQ.SubNav_active__26R4X, .SubNav_subNav__GWkXg .SubNav_moreBtn__2vsPQ:hover {
            color: #7b4dd6
        }

            .SubNav_subNav__GWkXg .SubNav_moreBtn__2vsPQ.SubNav_active__26R4X .SubNav_iconarrowDown__25CMb, .SubNav_subNav__GWkXg .SubNav_moreBtn__2vsPQ:hover .SubNav_iconarrowDown__25CMb {
                color: #7b4dd6
            }

.SubNav_more__QmUPW {
    margin-left: -50px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 13px 0 rgba(0,0,0,.15);
    background-color: #fff;
    position: fixed
}

    .SubNav_more__QmUPW .SubNav_link__2ipNs {
        display: block;
        width: 104px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        color: #666
    }

        .SubNav_more__QmUPW .SubNav_link__2ipNs:hover {
            color: #7b4dd6
        }

.Input_input__3cq_w::-moz-placeholder {
    transform: translateY(0)
}

.Input_input__3cq_w:-ms-input-placeholder {
    transform: translateY(0)
}

.Input_input__3cq_w::placeholder {
    transform: translateY(0)
}

.Input_input__3cq_w.Input_action__348Vb::-moz-placeholder {
    -moz-transition: all .25s;
    transition: all .25s
}

.Input_input__3cq_w.Input_action__348Vb:-ms-input-placeholder {
    -ms-transition: all .25s;
    transition: all .25s
}

.Input_input__3cq_w.Input_action__348Vb::placeholder {
    transition: all .25s
}

.Input_input__3cq_w.Input_up__2-SEz::-moz-placeholder {
    transform: translateY(-18px)
}

.Input_input__3cq_w.Input_up__2-SEz:-ms-input-placeholder {
    transform: translateY(-18px)
}

.Input_input__3cq_w.Input_up__2-SEz::placeholder {
    transform: translateY(-18px)
}

.Input_input__3cq_w.Input_down__3Fp17::-moz-placeholder {
    transform: translateY(18px)
}

.Input_input__3cq_w.Input_down__3Fp17:-ms-input-placeholder {
    transform: translateY(18px)
}

.Input_input__3cq_w.Input_down__3Fp17::placeholder {
    transform: translateY(18px)
}

.SearchBar_searchBar__21cAP {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 22px;
    background-color: #f2f2f2;
    color: #333;
    display: -moz-box;
    display: flex;
    padding-left: 16px
}

    .SearchBar_searchBar__21cAP .SearchBar_searchIcon__1K_lY {
        margin-left: 24px
    }

        .SearchBar_searchBar__21cAP .SearchBar_searchIcon__1K_lY .SearchBar_icon__woGaB {
            font-size: 20px;
            color: #a1a1a1;
            line-height: 1;
            display: block;
            margin-top: 9px
        }

    .SearchBar_searchBar__21cAP .SearchBar_searchBox__1UHNd {
        border-width: 0;
        height: 20px;
        background: transparent;
        line-height: 20px;
        width: 100%;
        padding: 0
    }

        .SearchBar_searchBar__21cAP .SearchBar_searchBox__1UHNd:focus {
            outline: none
        }

    .SearchBar_searchBar__21cAP .SearchBar_searchBtn__3IGil {
        width: 56px;
        height: 36px;
        line-height: 36px;
        border-radius: 100px;
        background-color: #7b4dd6;
        font-size: 14px;
        text-align: center;
        color: #fff;
        flex-shrink: 0;
        cursor: pointer;
        margin-left: 10px
    }

        .SearchBar_searchBar__21cAP .SearchBar_searchBtn__3IGil:hover {
            background-color: #6f45c1
        }

    .SearchBar_searchBar__21cAP.SearchBar_lager__1YA8V {
        padding-left: 0
    }

        .SearchBar_searchBar__21cAP.SearchBar_lager__1YA8V .SearchBar_searchBox__1UHNd {
            margin-left: 8px
        }

        .SearchBar_searchBar__21cAP.SearchBar_lager__1YA8V .SearchBar_searchBtn__3IGil {
            width: 96px;
            font-size: 16px;
            font-weight: 700
        }

        .SearchBar_searchBar__21cAP.SearchBar_lager__1YA8V.SearchBar_isFocus__4bJA0 {
            padding-left: 17px
        }

    .SearchBar_searchBar__21cAP.SearchBar_sub__2XS95 {
        padding-left: 0;
        padding-right: 18px
    }

        .SearchBar_searchBar__21cAP.SearchBar_sub__2XS95 .SearchBar_searchBox__1UHNd {
            margin-left: 0
        }

        .SearchBar_searchBar__21cAP.SearchBar_sub__2XS95 .SearchBar_searchIcon__1K_lY {
            margin-left: 18px;
            margin-right: 10px
        }

        .SearchBar_searchBar__21cAP.SearchBar_sub__2XS95 .SearchBar_searchBtn__3IGil {
            display: none
        }

.Footer_footer__25-X4 {
    min-width: 1136px;
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 32px
}

    .Footer_footer__25-X4 .Footer_section__2KxQu {
        margin: 0 auto;
        padding: 31px 0 32px;
        border-bottom: 1px solid #e0e0e0
    }

    .Footer_footer__25-X4 .Footer_column1__3XUN3, .Footer_footer__25-X4 .Footer_column2__O8qj- {
        border-right: 1px solid #e0e0e0
    }

    .Footer_footer__25-X4 .Footer_title__6-HCw {
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px
    }

    .Footer_footer__25-X4 .Footer_sectionR__3f3XL .Footer_title__6-HCw {
        margin-bottom: 24px
    }

    .Footer_footer__25-X4 .Footer_links__SOqiF {
        display: -moz-box;
        display: flex
    }

    .Footer_footer__25-X4 .Footer_linkBlock__2hEKs {
        font-size: 12px;
        line-height: 24px;
        color: #666;
        margin-right: 64px
    }

        .Footer_footer__25-X4 .Footer_linkBlock__2hEKs:last-child {
            margin-right: 0
        }

    .Footer_footer__25-X4 .Footer_link__1B3Lp {
        display: block
    }

    .Footer_footer__25-X4 .Footer_qrList__1rHWo {
        display: -moz-box;
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between
    }

        .Footer_footer__25-X4 .Footer_qrList__1rHWo .Footer_qr__BbEnF {
            display: block;
            line-height: 16px;
            font-size: 12px;
            color: #999;
            text-align: center
        }

            .Footer_footer__25-X4 .Footer_qrList__1rHWo .Footer_qr__BbEnF img {
                display: block;
                width: 84px;
                height: 84px;
                margin-bottom: 12px
            }

.SubPageContainer_header__2Xv4Z {
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-top: 3px solid #7b4dd6
}

    .SubPageContainer_header__2Xv4Z .SubPageContainer_headerMain__1oSPw {
        display: -moz-box;
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        height: 84px
    }

    .SubPageContainer_header__2Xv4Z .SubPageContainer_logo__1KMQi {
        margin-right: 40px
    }

        .SubPageContainer_header__2Xv4Z .SubPageContainer_logo__1KMQi img {
            height: 48px;
            display: block
        }

    .SubPageContainer_header__2Xv4Z .SubPageContainer_search__wZvPb {
        width: 212px;
        margin-right: 28px
    }

.SubPageContainer_headerL__2bdw_ {
    -moz-box-pack: justify;
    justify-content: space-between
}

.SubPageContainer_headerL__2bdw_, .SubPageContainer_headerR__2ZqA5 {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center
}

.SubPageContainer_section__YeL39 {
    padding: 120px 0 48px
}

@media(max-width:1280px) {
    .SubPageContainer_section__YeL39 {
        min-width: 1192px
    }
}

.SubPageContainer_section__YeL39 .SubPageContainer_column1__1t97J .SubPageContainer_links__10y_K {
    padding-right: 15px;
    border-right: 1px solid #ebebeb
}

    .SubPageContainer_section__YeL39 .SubPageContainer_column1__1t97J .SubPageContainer_links__10y_K .SubPageContainer_link__200ah {
        display: block;
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        color: #666;
        line-height: 48px;
        text-align: center;
        margin-bottom: 2px;
        overflow: hidden;
        word-break: break-all
    }

        .SubPageContainer_section__YeL39 .SubPageContainer_column1__1t97J .SubPageContainer_links__10y_K .SubPageContainer_link__200ah.SubPageContainer_active__1ppyr {
            background-color: #7b4dd6;
            color: #fff;
            font-weight: 700
        }

        .SubPageContainer_section__YeL39 .SubPageContainer_column1__1t97J .SubPageContainer_links__10y_K .SubPageContainer_link__200ah:hover {
            background-color: #7b4dd6;
            color: #fff;
            font-weight: 700
        }

.SubPageContainer_section__YeL39 .SubPageContainer_column2__a9kVf > div {
    margin-bottom: 22px
}

    .SubPageContainer_section__YeL39 .SubPageContainer_column2__a9kVf > div:last-child {
        margin-bottom: 0
    }

.SubPageContainer_section__YeL39 .SubPageContainer_column2__a9kVf .SubPageContainer_videoList__28XfO {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding-top: 24px
}

    .SubPageContainer_section__YeL39 .SubPageContainer_column2__a9kVf .SubPageContainer_videoList__28XfO > a {
        margin-right: 16px
    }

.SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb {
    padding: 24px 16px 20px;
    background-color: #fafafa
}

    .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb .SubPageContainer_columnList__3HdIV > a {
        padding: 10px 0;
        border-bottom: 1px solid #ebebeb
    }

        .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb .SubPageContainer_columnList__3HdIV > a:first-child {
            padding-top: 0
        }

        .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb .SubPageContainer_columnList__3HdIV > a:last-child {
            border-bottom-width: 0
        }

    .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw {
        margin-top: 24px
    }

        .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_columnList__3HdIV > a {
            border-bottom-width: 0
        }

        .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE {
            display: -moz-box;
            display: flex;
            padding: 0;
            margin-bottom: 16px
        }

            .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE:last-child {
                margin-bottom: 0
            }

            .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE .SubPageContainer_img__mB4XA {
                width: 56px;
                height: 56px;
                flex-shrink: 0;
                border-radius: 56px;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                margin-right: 16px;
                position: relative
            }

            .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE .SubPageContainer_info__2D9OF {
                overflow: hidden
            }

                .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE .SubPageContainer_info__2D9OF .SubPageContainer_title__2x7fm {
                    overflow: hidden;
                    line-height: 20px;
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 4px;
                    word-break: break-all
                }

                .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE .SubPageContainer_info__2D9OF .SubPageContainer_intro__32zXS {
                    line-height: 17px;
                    font-size: 12px;
                    color: #999;
                    margin-bottom: 4px
                }

                    .SubPageContainer_section__YeL39 .SubPageContainer_column__39KWb.SubPageContainer_friends__1xpgw .SubPageContainer_friendBox__2pdJE .SubPageContainer_info__2D9OF .SubPageContainer_intro__32zXS:last-child {
                        margin-bottom: 0
                    }

.ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0
}

    .ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM .ModuleBox_headerL__3UTWI .ModuleBox_title__255-q {
        position: relative;
        font-size: 21px;
        height: 29px;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        line-height: 29px;
        font-weight: 700;
        color: #333;
        padding-bottom: 11px
    }

        .ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM .ModuleBox_headerL__3UTWI .ModuleBox_title__255-q:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #7b4dd6;
            bottom: -1px;
            left: 0
        }

    .ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM .ModuleBox_headerR___d9HP {
        padding-bottom: 14px
    }

        .ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM .ModuleBox_headerR___d9HP .ModuleBox_intro__2suQV {
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            color: #999;
            display: -moz-box;
            display: flex;
            -moz-box-align: center;
            align-items: center;
            -moz-box-pack: justify;
            justify-content: space-between
        }

            .ModuleBox_moduleBox__QkXEA .ModuleBox_header__tMwXM .ModuleBox_headerR___d9HP .ModuleBox_intro__2suQV:hover .iconfont {
                color: #7b4dd6
            }

.ModuleBox_moduleBox__QkXEA.ModuleBox_block__3Wy1J .ModuleBox_header__tMwXM {
    border-bottom-width: 0;
    padding-bottom: 16px
}

    .ModuleBox_moduleBox__QkXEA.ModuleBox_block__3Wy1J .ModuleBox_header__tMwXM .ModuleBox_headerL__3UTWI .ModuleBox_title__255-q {
        font-size: 16px;
        height: 22px;
        line-height: 22px;
        border-bottom-width: 0;
        padding-bottom: 0
    }

        .ModuleBox_moduleBox__QkXEA.ModuleBox_block__3Wy1J .ModuleBox_header__tMwXM .ModuleBox_headerL__3UTWI .ModuleBox_title__255-q:after {
            display: none
        }

    .ModuleBox_moduleBox__QkXEA.ModuleBox_block__3Wy1J .ModuleBox_header__tMwXM .ModuleBox_headerR___d9HP {
        padding-bottom: 0
    }

.Img_myImg__2tj93 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 16px;
    position: relative;
    background-color: #f7f7f7;
    border-radius: 4px
}

    .Img_myImg__2tj93 .Img_icon__dlr-W {
        color: #d9d9d9;
        font-size: 56px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        line-height: 1
    }

.SubImgIntroVerticalBox_verticalBox__1upWr {
    display: -moz-box;
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid #ebebeb
}

    .SubImgIntroVerticalBox_verticalBox__1upWr:hover {
        background-color: #fafafa
    }

    .SubImgIntroVerticalBox_verticalBox__1upWr:last-child {
        border-bottom-width: 0
    }

    .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_img__2yrQc {
        width: 168px;
        height: 106px;
        flex-shrink: 0;
        border-radius: 4px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 16px;
        position: relative;
        background-color: #f2f2f2
    }

    .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_videoIcon__1fyYH {
        position: absolute;
        display: block;
        font-size: 24px;
        width: 24px;
        height: 24px;
        bottom: 12px;
        left: 12px;
        line-height: 1
    }

    .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_info__3yP-n {
        overflow: hidden
    }

        .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_info__3yP-n .SubImgIntroVerticalBox_title__25noL {
            overflow: hidden;
            line-height: 25px;
            max-height: 50px;
            font-size: 18px;
            font-weight: 700;
            color: #333;
            margin-bottom: 8px;
            word-break: break-all;
            text-align: justify
        }

            .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_info__3yP-n .SubImgIntroVerticalBox_title__25noL:hover {
                color: #7b4dd6
            }

        .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_info__3yP-n .SubImgIntroVerticalBox_intro__1h17f {
            line-height: 20px;
            max-height: 40px;
            font-size: 14px;
            color: #666;
            margin-bottom: 11px;
            overflow: hidden;
            word-break: break-all;
            text-align: justify
        }

        .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_info__3yP-n .SubImgIntroVerticalBox_time__Un66H {
            line-height: 17px;
            font-size: 12px;
            color: #999
        }

    .SubImgIntroVerticalBox_verticalBox__1upWr .SubImgIntroVerticalBox_dxylogo__22qPq {
        color: #fff;
        font-size: 47px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        line-height: 1
    }

.ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y {
    display: block
}

    .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_img__1NOmT {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat
    }

    .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_dxylogo__3p21C {
        color: #fff;
        font-size: 47px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        line-height: 1
    }

    .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_imgBox__osm4g {
        border-radius: 4px;
        margin-bottom: 12px;
        background-color: #f2f2f2;
        overflow: hidden;
        position: relative
    }

        .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_imgBox__osm4g.ImgIntroHorizontalBox_hover__KlALk:hover .ImgIntroHorizontalBox_img__1NOmT {
            transform: scale(1.2);
            transition: transform .3s ease-out
        }

        .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_imgBox__osm4g.ImgIntroHorizontalBox_hover__KlALk:hover .ImgIntroHorizontalBox_dxylogo__3p21C {
            font-size: 57px;
            transition: font-size .3s ease-out
        }

        .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_imgBox__osm4g .ImgIntroHorizontalBox_videoIcon__aGXWd {
            position: absolute;
            display: block;
            font-size: 24px;
            bottom: 12px;
            left: 12px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            color: #fff;
            border-radius: 24px;
            background-color: rgba(0,0,0,.4)
        }

    .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_intro__ZnzGA {
        line-height: 20px;
        max-height: 40px;
        font-size: 14px;
        color: #333;
        overflow: hidden
    }

        .ImgIntroHorizontalBox_imgIntroVerticalBox__qPz1Y .ImgIntroHorizontalBox_intro__ZnzGA:hover {
            color: #7b4dd6
        }

.ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup {
    display: -moz-box;
    display: flex
}

    .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_img__S-GuI {
        flex-shrink: 0;
        border-radius: 4px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 16px;
        position: relative
    }

    .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_imgBox__1za15 {
        overflow: hidden;
        flex-shrink: 0;
        border-radius: 4px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 16px;
        background-color: #f2f2f2
    }

        .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_imgBox__1za15.ImgIntroVerticalBox_hover__JqOEi:hover .ImgIntroVerticalBox_img__S-GuI {
            transform: scale(1.2);
            transition: transform .3s ease-out
        }

    .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_info__3bHMz {
        overflow: hidden
    }

        .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_info__3bHMz .ImgIntroVerticalBox_title__2mL0A {
            line-height: 20px;
            max-height: 40px;
            font-size: 14px;
            color: #333;
            margin-bottom: 8px;
            word-break: break-all;
            overflow: hidden
        }

            .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_info__3bHMz .ImgIntroVerticalBox_title__2mL0A:hover {
                color: #7b4dd6
            }

        .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_info__3bHMz .ImgIntroVerticalBox_intro__2Onp2 {
            height: 17px;
            line-height: 17px;
            font-size: 12px;
            color: #999;
            overflow: hidden;
            word-break: break-all
        }

    .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup:hover {
        color: inherit
    }

    .ImgIntroVerticalBox_imgIntroVerticalBox__1Uwup .ImgIntroVerticalBox_dxylogo__MNuJU {
        color: #fff;
        position: absolute;
        font-size: 47px;
        line-height: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }

.SubIntro_subIntro__2iSm9 {
    overflow: hidden
}

    .SubIntro_subIntro__2iSm9 .SubIntro_title__2AAAw {
        overflow: hidden;
        line-height: 25px;
        max-height: 50px;
        font-size: 18px;
        font-weight: 700;
        color: #333;
        margin-bottom: 8px;
        word-break: break-all;
        text-align: justify
    }

        .SubIntro_subIntro__2iSm9 .SubIntro_title__2AAAw:hover {
            color: #7b4dd6
        }

    .SubIntro_subIntro__2iSm9 .SubIntro_intro__3IuKQ {
        line-height: 20px;
        max-height: 40px;
        font-size: 14px;
        color: #666;
        margin-bottom: 16px;
        overflow: hidden;
        word-break: break-all;
        text-align: justify
    }

    .SubIntro_subIntro__2iSm9 .SubIntro_info__nhgOW {
        line-height: 17px;
        font-size: 12px;
        color: #999
    }

        .SubIntro_subIntro__2iSm9 .SubIntro_info__nhgOW span {
            margin-right: 16px
        }

    .SubIntro_subIntro__2iSm9.SubIntro_hasImg__3yZRg {
        position: relative;
        width: 100%
    }

        .SubIntro_subIntro__2iSm9.SubIntro_hasImg__3yZRg .SubIntro_info__nhgOW {
            position: absolute;
            bottom: 0;
            left: 0
        }

._type__column2__3D98r > div {
    margin-bottom: 8px
}

    ._type__column2__3D98r > div:last-child {
        margin-bottom: 0
    }

._type__column2__3D98r ._type__videoList__3-qsb {
    display: -moz-box;
    display: flex;
    padding-top: 24px
}

    ._type__column2__3D98r ._type__videoList__3-qsb > a {
        margin-right: 16px
    }

._type__verticalBox__1ty2H {
    display: -moz-box;
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid #ebebeb
}

    ._type__verticalBox__1ty2H:hover {
        background-color: #fafafa
    }

    ._type__verticalBox__1ty2H:last-child {
        border-bottom-width: 0
    }

    ._type__verticalBox__1ty2H ._type__img__F-pKi {
        width: 168px;
        height: 108px;
        flex-shrink: 0;
        border-radius: 4px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 16px;
        position: relative
    }

._type__column__-4_o2 {
    padding: 24px 16px;
    background-color: #fafafa
}

    ._type__column__-4_o2 ._type__columnList__2f_VW > a {
        padding: 10px 0;
        border-bottom: 1px solid #ebebeb
    }

        ._type__column__-4_o2 ._type__columnList__2f_VW > a:first-child {
            padding-top: 0
        }

        ._type__column__-4_o2 ._type__columnList__2f_VW > a:last-child {
            border-bottom-width: 0;
            padding-bottom: 0
        }

    ._type__column__-4_o2._type__friends__ngqWl {
        margin-top: 24px
    }

        ._type__column__-4_o2._type__friends__ngqWl ._type__columnList__2f_VW {
            max-height: 262px;
            overflow-y: scroll
        }

            ._type__column__-4_o2._type__friends__ngqWl ._type__columnList__2f_VW > a {
                border-bottom-width: 0
            }

        ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD {
            display: -moz-box;
            display: flex;
            padding: 0;
            margin-bottom: 16px
        }

            ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD:last-child {
                margin-bottom: 0;
                padding-bottom: 0
            }

            ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD .myImg {
                width: 56px;
                height: 56px;
                border-radius: 56px
            }

            ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD .iconfont {
                font-size: 56px
            }

            ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw {
                overflow: hidden
            }

                ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw ._type__title__1vHxL {
                    overflow: hidden;
                    line-height: 20px;
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 4px;
                    word-break: break-all;
                    text-align: justify
                }

                    ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw ._type__title__1vHxL:hover {
                        color: #7b4dd6
                    }

                ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw ._type__description__XmBj3, ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw ._type__intro__10KUJ {
                    line-height: 17px;
                    font-size: 12px;
                    color: #999;
                    margin-bottom: 4px;
                    word-break: break-all
                }

                ._type__column__-4_o2._type__friends__ngqWl ._type__friendBox__1Y3oD ._type__info__a2pvw ._type__description__XmBj3 {
                    height: 17px;
                    margin-bottom: 0
                }

._type__iconarrowRightBlack__1Yfcu {
    font-size: 12px;
    margin-left: 4px
}
