@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            common.ajax({
                url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Memberinfo/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    common.val('adminform', data);
                    common.setReadOnly('adminform');
                    form.render();
                 }
            });
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }
   });
</script>
<style>
    .layui-select-title input {
      color:#000 !important;
    }
    .userState input {
        color: red !important;
    }
</style>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">姓名</label>
                   <div class="layui-input-block">
                        <input type="text" id="trueName" name="trueName" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">手机</label>
                   <div class="layui-input-block">
                        <input type="text" id="phone" name="phone" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">媒体名称</label>
                   <div class="layui-input-block">
                        <input type="text" id="mediaName" name="mediaName" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">职称</label>
                   <div class="layui-input-block">
                        <input type="text" id="JobTitle" name="JobTitle" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">性别</label>
                   <div class="layui-input-block">
                       <select id="Sex" name="Sex" lay-filter="Sex" lay-search>
                           <option value="1">男</option>
                           <option value="0">女</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">是否同意用户协议</label>
                   <div class="layui-input-block">
                       <select id="IsAgreeAgreement" name="IsAgreeAgreement" lay-filter="IsAgreeAgreement" lay-search>
                           <option value="true">是</option>
                           <option value="false">否</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">是否同意收集用户行为</label>
                   <div class="layui-input-block">
                       <select id="IsAgreeActionCollect" name="IsAgreeActionCollect" lay-filter="IsAgreeActionCollect" lay-search>
                           <option value="true">是</option>
                           <option value="false">否</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">用户积分</label>
                   <div class="layui-input-block">
                        <input type="text" id="userScore" name="userScore" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">状态</label>
                    <div class="layui-input-block userState" style="color:red;">
                        <select id="state" name="state"  lay-filter="state" lay-search>
                            <option value="0">待审核</option>
                            <option value="1">已审核</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

