@{
    ViewBag.Title = "Form"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common','optimizeSelectOption'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            if (!!keyValue) {
                 common.ajax({
                   url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Memberinfo/GetFormJson',
                   dataType: 'json',
                   data: { keyValue: keyValue },
                   async: false,
                   success: function (data) {
                       common.val('adminform', data);
                    }
               });
           }
           form.render();
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }

       //监听提交
       form.on('submit(saveBtn)', function (data) {
           // 单击之后提交按钮不可选,防止重复提交
           $('.site-demo-active').addClass('layui-btn-disabled');
           $('.site-demo-active').attr('disabled', 'disabled');
           var postData = data.field;
           common.submitForm({
               url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Memberinfo/SubmitForm?keyValue=' + keyValue,
               param: postData,
               success: function () {
                   common.parentreload('data-search-btn');
               }
           })
           return false;
       });
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">姓名</label>
                   <div class="layui-input-block">
                        <input type="text" id="trueName" name="trueName" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">手机</label>
                   <div class="layui-input-block">
                        <input type="text" id="phone" name="phone" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">媒体名称</label>
                   <div class="layui-input-block">
                        <input type="text" id="mediaName" name="mediaName" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">职称</label>
                   <div class="layui-input-block">
                        <input type="text" id="JobTitle" name="JobTitle" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">性别</label>
                   <div class="layui-input-block">
                      
                       <select id="Sex" name="Sex" lay-filter="Sex" lay-search>
                           <option value="1">男</option>
                           <option value="0">女</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">是否同意用户协议</label>
                   <div class="layui-input-block">
                    
                       <select id="IsAgreeAgreement" name="IsAgreeAgreement" lay-filter="IsAgreeAgreement" lay-search>
                           <option value="true">是</option>
                           <option value="false">否</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">是否同意收集用户行为</label>
                   <div class="layui-input-block">
                    
                       <select id="IsAgreeActionCollect" name="IsAgreeActionCollect" lay-filter="IsAgreeActionCollect" lay-search>
                           <option value="true">是</option>
                           <option value="false">否</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">用户积分</label>
                   <div class="layui-input-block">
                        <input type="text" id="userScore" name="userScore" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">状态</label>
                   <div class="layui-input-block">
                       <select id="state" name="state" lay-filter="state" lay-search>
                           <option value="0">待审核</option>
                           <option value="1">已审核</option>
                       </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn site-demo-active" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</body>

