@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            common.ajax({
                url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Badgeinfo/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    common.val('adminform', data);
                    common.setReadOnly('adminform');
                    form.render();
                 }
            });
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">徽章名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_Name" name="F_Name" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">区间最小值</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_MinScore" name="F_MinScore" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">区间最大值</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_MaxScore" name="F_MaxScore" lay-verify="required" class="layui-input">
                    </div>
                </div>
             
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-block" style="padding-right: 110px;">
                        <input type="text" class="layui-input" name="F_picUrl" id="F_picUrl" maxlength="255" readonly="readonly">
                        <button type="button" class="layui-btn" style="position: absolute;top: 0;right: 0;cursor: pointer;" id="j_upload_img_btn">
                            <i class="layui-icon"></i>图片
                        </button>
                        <ul id="upload_img_wrap"></ul>
                        <textarea id="uploadEditor" style="display: none;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">简介</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_Introduction" name="F_Introduction" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">排序</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_Order" name="F_Order" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

