@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            common.ajax({
                url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Useractioninfo/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    common.val('adminform', data);
                    common.setReadOnly('adminform');
                    form.render();
                 }
            });
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">姓名</label>
                   <div class="layui-input-block">
                        <input type="text" id="trueName" name="trueName" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">手机号</label>
                   <div class="layui-input-block">
                        <input type="text" id="Phone" name="Phone" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">积分类型(0：签到 1：文章 2：视频 3：留言 )</label>
                   <div class="layui-input-block">
                        <input type="text" id="moreCol" name="moreCol" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">获取积分数</label>
                   <div class="layui-input-block">
                        <input type="text" id="scoreNum" name="scoreNum" lay-verify="required" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">时间</label>
                   <div class="layui-input-block">
                        <input type="text" id="createDate" name="createDate" lay-verify="required" class="layui-input">
                   </div>
               </div>
            </div>
        </div>
    </div>
</body>

