<footer class="Footer_footer__25-X4">
    <div class="section Footer_section__2KxQu">
        <div class="sectionL">
            <div class="column1 Footer_column1__3XUN3">
                <div class="Footer_title__6-HCw">关于丁香园</div>
                <div class="Footer_links__SOqiF">
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="http://www.dxy.cn/pages/about.html" class="Footer_link__1B3Lp">关于我们</a>
                        <a target="_blank" href="http://www.dxy.cn/pages/iconlink.html" class="Footer_link__1B3Lp">友情链接</a>
                        <a target="_blank" href="http://www.dxy.cn/pages/contact.html" class="Footer_link__1B3Lp">联系我们</a>
                        <a target="_blank" href="https://www.jobmd.cn/company/94125.htm" class="Footer_link__1B3Lp">人才招聘</a>
                        <a target="_blank" href="http://www.dxy.cn/pages/sitedeclaration.html" class="Footer_link__1B3Lp">网站声明</a>
                    </div>
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="http://www.dxy.cn/pages/datadownload.html" class="Footer_link__1B3Lp">资料下载</a>
                        <a target="_blank" href="http://www.dxy.cn/pages/legal.html" class="Footer_link__1B3Lp">资格证书</a>
                    </div>
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="https://app.dxy.cn/" class="Footer_link__1B3Lp">应用下载</a>
                        <a target="_blank" href="http://weibo.com/dxycn" class="Footer_link__1B3Lp">新浪微博</a>
                    </div>
                </div>
            </div>
            <div class="column2 Footer_column2__O8qj-">
                <div class="Footer_title__6-HCw">丁香园旗下网站</div>
                <div class="Footer_links__SOqiF">
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="/" class="Footer_link__1B3Lp">丁香园</a>
                        <a target="_blank" href="http://www.dxclinics.com/" class="Footer_link__1B3Lp">丁香诊所</a>
                        <a target="_blank" href="http://drugs.dxy.cn/" class="Footer_link__1B3Lp">用药助手</a>
                        <a target="_blank" href="http://www.dxy.com/" class="Footer_link__1B3Lp">丁香医生</a>
                        <a target="_blank" href="http://e.dxy.cn/broadcast" class="Footer_link__1B3Lp">丁香播咖</a>
                    </div>
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="https://www.dxy.cn/bbs/newweb/pc/home" class="Footer_link__1B3Lp">丁香园论坛</a>
                        <a target="_blank" href="https://class.dxy.cn/" class="Footer_link__1B3Lp">丁香公开课</a>
                        <a target="_blank" href="https://www.jobmd.cn/" class="Footer_link__1B3Lp">丁香人才</a>
                        <a target="_blank" href="http://e.dxy.cn/college/" class="Footer_link__1B3Lp">合作案例</a>
                        <a target="_blank" href="https://app.dxy.cn/" class="Footer_link__1B3Lp">丁香无线</a>
                    </div>
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="https://mall.dxy.cn/" class="Footer_link__1B3Lp">丁当商城</a>
                        <a target="_blank" href="https://search.dxy.cn/" class="Footer_link__1B3Lp">丁香搜索</a>
                        <a target="_blank" href="https://www.biomart.cn/" class="Footer_link__1B3Lp">丁香通</a>
                        <a target="_blank" href="https://y.dxy.cn/" class="Footer_link__1B3Lp">医院汇</a>
                    </div>
                    <div class="Footer_linkBlock__2hEKs">
                        <a target="_blank" href="https://clinic.dxy.com/" class="Footer_link__1B3Lp">云管家</a>
                        <a target="_blank" href="https://db.dxy.cn/" class="Footer_link__1B3Lp">Insight</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionR Footer_sectionR__3f3XL">
            <div class="Footer_title__6-HCw">更多产品</div>
            <div class="Footer_qrList__1rHWo">
                <div class="Footer_qr__BbEnF"><img src="/imgs/qr/guanfang@3x.png" /><span>官方微信</span></div>
                <div class="Footer_qr__BbEnF"><img src="/imgs/qr/dxy@3x.png" /><span>丁香园 App</span></div>
                <div class="Footer_qr__BbEnF"><img src="/imgs/qr/drugs@3x.png" /><span>用药助手 App</span></div>
            </div>
        </div>
    </div>
</footer>