<head>
    <style>
        #j-dxy-bottom {
            background-color: #fafafa;
            padding-bottom: 32px;
            min-width: 1136px;
        }
    </style>
    <script type="text/javascript" src="//assets.dxycdn.com/gitrepo/tod-assets/output/default/dxycn/redirect.js"></script>
    <meta charSet="utf-8" />
    <title>{$site.site_title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="description" content="{$site.site_description}" />
    <meta name="keywords" content="{$site.site_keyword}" />
    <meta name="copyright" content="{$site.site_copyright}" />
    <link href="//assets.dxycdn.com/app/bbs/favicon@2x.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1964637_h9s26dswqmt.css" />
    <meta name="next-head-count" content="9" />
    <link rel="preload" href="/_static_site/_next/static/css/9058a190238b78ce60e0.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/9058a190238b78ce60e0.css" data-n-g="" />
    <link rel="preload" href="/_static_site/_next/static/css/f986abc72ccd57b58512.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/f986abc72ccd57b58512.css" data-n-g="" />
    <link rel="preload" href="/_static_site/_next/static/css/c4b72706d3e625462923.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/c4b72706d3e625462923.css" data-n-p="" />
</head>