@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            common.ajax({
                url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/DictionaryDataBase/Hospital/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    common.val('adminform', data);
                    common.setReadOnly('adminform');
                    form.render();
                 }
            });
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">医院名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_HospitalName" name="F_HospitalName" lay-verify="required" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">医院地址</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_Address" name="F_Address" lay-verify="required" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请选择地区</label>
                    <div class="layui-input-block">
                        <div class="layui-inline">
                            <select name="province" class="province" lay-verify="required" lay-search lay-filter="province">
                                <option value="">省份</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="city" class="city" lay-verify="required" lay-search lay-filter="city">
                                <option value="">地级市</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="district" class="district" lay-verify="required" lay-search>
                                <option value="">区</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">医院介绍</label>
                    <div class="layui-input-block">
                        <textarea id="F_Introduction" name="F_Introduction" type="text/plain" style="width:100%;height:400px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">数量</label>
                    <div class="layui-input-block">
                        <input type="number" pattern="[0-9]*" id="F_Number" name="F_Number" lay-verify="required|number" oninput="if(value.length>8)value=value.slice(0,8)" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">排序</label>
                    <div class="layui-input-block">
                        <input type="number" pattern="[0-9]*" id="F_Order" name="F_Order" lay-verify="required|number" oninput="if(value.length>8)value=value.slice(0,8)" class="layui-input ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

