@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //此处需修改
        //类型为时间时
        //laydate.render({
            //elem: '#F_Birthday'
            //, btns: ['clear', 'now']
            //, trigger: 'click',
            //format: 'yyyy-MM-dd',
        //});

        $(function () {
            initControl();
            common.ajax({
                url: '@(YMWeb.Code.GlobalContext.SystemConfig.VirtualDirectory)/ContentManage/Block/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    common.val('adminform', data);
                    common.setReadOnly('adminform');
                    form.render();
                 }
            });
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
           //绑定数据源
           //类型为下拉框时
       }
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">上级区块</label>
                    <div class="layui-input-block">
                        <select id="F_ParentId" name="F_ParentId" lay-verify="required" lay-search>
                            <option value="0" selected>父节点</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">类型</label>
                    <div class="layui-input-block">
                        <select id="F_Type" name="F_Type" lay-verify="required" lay-search>
                            <option value="0">==请选择==</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_Name" name="F_Name" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">数量</label>
                    <div class="layui-input-block">
                        <input type="number" pattern="[0-9]*" id="F_Number" name="F_Number" lay-verify="required|number" oninput="if(value.length>8)value=value.slice(0,8)" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-block" style="padding-right: 110px;">
                        <input type="text" class="layui-input" name="F_ImageUrl" id="F_ImageUrl" maxlength="255" readonly="readonly">
                        <button type="button" class="layui-btn" style="position: absolute;top: 0;right: 0;cursor: pointer;" id="j_upload_img_btn">
                            <i class="layui-icon"></i>上传图片
                        </button>
                        <ul id="upload_img_wrap"></ul>
                        <textarea id="uploadEditor" style="display: none;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide" id="imgshow">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <img id="F_ImgUrlPic" width="200" height="200" onclick="previewImg(this)" />
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">链接</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_LinkUrl" name="F_LinkUrl" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">内容</label>
                    <div class="layui-input-block">
                        <textarea id="F_Content" name="F_Content" type="text/plain" style="width:100%;height:400px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效">
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

