
<!DOCTYPE html>
<html>
<head>
    <style>
        #j-dxy-bottom {
            background-color: #fafafa;
            padding-bottom: 32px;
            min-width: 1136px;
        }
    </style>
    <script type="text/javascript" src="//assets.dxycdn.com/gitrepo/tod-assets/output/default/dxycn/redirect.js"></script>
    <meta charSet="utf-8" />
    <title>心血管</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="description" content="丁香园是面向医生、医疗机构、医药从业者以及生命科学领域人士的专业性社会化网络，提供医学、医疗、药学、生命科学等相关领域的交流平台、专业知识、最新科研进展以及技术服务。" />
    <meta name="keywords" content="医学,药学,生物,医学论坛,医生,临床,医学知识,病例讨论,医学考试,论文,实验方法,数据库,文献,疾病,社区,用药助手,丁香园" />
    <meta name="copyright" content="杭州联科美讯生物医药技术有限公司(LinkMed Co.,Ltd)" />
    <link href="//assets.dxycdn.com/app/bbs/favicon@2x.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1964637_h9s26dswqmt.css" />
    <meta name="next-head-count" content="9" />
    <link rel="preload" href="/_static_site/_next/static/css/9058a190238b78ce60e0.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/9058a190238b78ce60e0.css" data-n-g="" />
    <link rel="preload" href="/_static_site/_next/static/css/f986abc72ccd57b58512.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/f986abc72ccd57b58512.css" data-n-g="" />
    <link rel="preload" href="/_static_site/_next/static/css/c4b72706d3e625462923.css" as="style" />
    <link rel="stylesheet" href="/_static_site/_next/static/css/c4b72706d3e625462923.css" data-n-p="" />
    <noscript data-n-css="true"></noscript>
</head>
<body class="custom_class">
    <div id="__next">
        <div class="SubPageContainer_header__2Xv4Z">
            <header class="globalAdaptation SubPageContainer_headerMain__1oSPw">
                <div class="SubPageContainer_headerL__2bdw_">
                    <a class="SubPageContainer_logo__1KMQi" href="/"><img src="/imgs/logo.png" alt="丁香园" /></a>
                    <div class="SubNav_subNav__GWkXg">
                        <a href="/" target="_blank" class="SubNav_link__2ipNs false">首页</a>
                        <a href="https://portal.dxy.cn/sub/7" target="_blank" class="SubNav_link__2ipNs SubNav_active__26R4X">心血管</a>
                        <a href="https://portal.dxy.cn/sub/9" target="_blank" class="SubNav_link__2ipNs false">危重</a>
                        <a href="https://portal.dxy.cn/sub/4" target="_blank" class="SubNav_link__2ipNs false">儿科</a>
                        <a href="https://portal.dxy.cn/sub/1" target="_blank" class="SubNav_link__2ipNs false">妇产</a>
                        <a href="https://portal.dxy.cn/sub/2" target="_blank" class="SubNav_link__2ipNs false">普外</a>
                        <a href="https://portal.dxy.cn/sub/6" target="_blank" class="SubNav_link__2ipNs false">内分泌</a>
                      
                    </div>
                </div>
            </header>
        </div><div class="section subSection SubPageContainer_section__YeL39">
            <div class="sectionL">
                <div class="column2 SubPageContainer_column2__a9kVf">
                    <div class="_type__column2__3D98r">
                        <div class="ModuleBox_moduleBox__QkXEA ">
                            <div class="ModuleBox_header__tMwXM">
                                <div class="ModuleBox_headerL__3UTWI">
                                    <div class="ModuleBox_title__255-q">最新资讯</div>
                                </div>
                            </div>
                            <a data-da="{&quot;category&quot;:&quot;7&quot;,&quot;action&quot;:&quot;click_channel_article&quot;,&quot;ext&quot;:{&quot;url&quot;:&quot;https://dxy.me/1pfv9T&quot;}}" href="https://dxy.me/1pfv9T" target="_blank" class="SubImgIntroVerticalBox_verticalBox__1upWr">
                                <div class="SubImgIntroVerticalBox_img__2yrQc" style="background-image:url(false)">
                                    <i class="iconfont iconzhanweidingxiangyuanlogo SubImgIntroVerticalBox_dxylogo__22qPq"></i>
                                </div>
                                <div class="SubIntro_subIntro__2iSm9 SubIntro_hasImg__3yZRg">
                                    <p class="SubIntro_title__2AAAw">心脏超声报告不会看？先熟记这 6 大指标！</p>
                                    <p class="SubIntro_intro__3IuKQ" style="max-height:40px"></p>
                                    <p class="SubIntro_info__nhgOW">2020-12-25</p>
                                </div>
                            </a>
                            <a data-da="{&quot;category&quot;:&quot;7&quot;,&quot;action&quot;:&quot;click_channel_article&quot;,&quot;ext&quot;:{&quot;url&quot;:&quot;https://dxy.me/PtSt2J&quot;}}" href="https://dxy.me/PtSt2J" target="_blank" class="SubImgIntroVerticalBox_verticalBox__1upWr">
                                <div class="SubImgIntroVerticalBox_img__2yrQc" style="background-image:url(false)">
                                    <i class="iconfont iconzhanweidingxiangyuanlogo SubImgIntroVerticalBox_dxylogo__22qPq"></i>
                                </div>
                                <div class="SubIntro_subIntro__2iSm9 SubIntro_hasImg__3yZRg">
                                    <p class="SubIntro_title__2AAAw">罕见病创新药维万心® 开出全国首张处方</p><p class="SubIntro_intro__3IuKQ" style="max-height:40px"></p>
                                    <p class="SubIntro_info__nhgOW">2020-12-08</p>
                                </div>
                            </a>
                            <a data-da="{&quot;category&quot;:&quot;7&quot;,&quot;action&quot;:&quot;click_channel_article&quot;,&quot;ext&quot;:{&quot;url&quot;:&quot;https://dxy.me/b1amFA&quot;}}" href="https://dxy.me/b1amFA" target="_blank" class="SubImgIntroVerticalBox_verticalBox__1upWr">
                                <div class="SubImgIntroVerticalBox_img__2yrQc" style="background-image:url(false)">
                                    <i class="iconfont iconzhanweidingxiangyuanlogo SubImgIntroVerticalBox_dxylogo__22qPq"></i>
                                </div>
                                <div class="SubIntro_subIntro__2iSm9 SubIntro_hasImg__3yZRg">
                                    <p class="SubIntro_title__2AAAw">主任提问：鉴别室速 or 室上速，有哪 7 种方法？</p>
                                    <p class="SubIntro_intro__3IuKQ" style="max-height:40px"></p>
                                    <p class="SubIntro_info__nhgOW">2020-12-25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="Footer_footer__25-X4">
        <div class="section Footer_section__2KxQu">
            <div class="sectionL">
                <div class="column1 Footer_column1__3XUN3">
                    <div class="Footer_title__6-HCw">关于丁香园</div>
                    <div class="Footer_links__SOqiF">
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="http://www.dxy.cn/pages/about.html" class="Footer_link__1B3Lp">关于我们</a>
                            <a target="_blank" href="http://www.dxy.cn/pages/iconlink.html" class="Footer_link__1B3Lp">友情链接</a>
                            <a target="_blank" href="http://www.dxy.cn/pages/contact.html" class="Footer_link__1B3Lp">联系我们</a>
                            <a target="_blank" href="https://www.jobmd.cn/company/94125.htm" class="Footer_link__1B3Lp">人才招聘</a>
                            <a target="_blank" href="http://www.dxy.cn/pages/sitedeclaration.html" class="Footer_link__1B3Lp">网站声明</a>
                        </div>
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="http://www.dxy.cn/pages/datadownload.html" class="Footer_link__1B3Lp">资料下载</a>
                            <a target="_blank" href="http://www.dxy.cn/pages/legal.html" class="Footer_link__1B3Lp">资格证书</a>
                        </div>
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="https://app.dxy.cn/" class="Footer_link__1B3Lp">应用下载</a>
                            <a target="_blank" href="http://weibo.com/dxycn" class="Footer_link__1B3Lp">新浪微博</a>
                        </div>
                    </div>
                </div>
                <div class="column2 Footer_column2__O8qj-">
                    <div class="Footer_title__6-HCw">丁香园旗下网站</div>
                    <div class="Footer_links__SOqiF">
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="/" class="Footer_link__1B3Lp">丁香园</a>
                            <a target="_blank" href="http://www.dxclinics.com/" class="Footer_link__1B3Lp">丁香诊所</a>
                            <a target="_blank" href="http://drugs.dxy.cn/" class="Footer_link__1B3Lp">用药助手</a>
                            <a target="_blank" href="http://www.dxy.com/" class="Footer_link__1B3Lp">丁香医生</a>
                            <a target="_blank" href="http://e.dxy.cn/broadcast" class="Footer_link__1B3Lp">丁香播咖</a>
                        </div>
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="https://www.dxy.cn/bbs/newweb/pc/home" class="Footer_link__1B3Lp">丁香园论坛</a>
                            <a target="_blank" href="https://class.dxy.cn/" class="Footer_link__1B3Lp">丁香公开课</a>
                            <a target="_blank" href="https://www.jobmd.cn/" class="Footer_link__1B3Lp">丁香人才</a>
                            <a target="_blank" href="http://e.dxy.cn/college/" class="Footer_link__1B3Lp">合作案例</a>
                            <a target="_blank" href="https://app.dxy.cn/" class="Footer_link__1B3Lp">丁香无线</a>
                        </div>
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="https://mall.dxy.cn/" class="Footer_link__1B3Lp">丁当商城</a>
                            <a target="_blank" href="https://search.dxy.cn/" class="Footer_link__1B3Lp">丁香搜索</a>
                            <a target="_blank" href="https://www.biomart.cn/" class="Footer_link__1B3Lp">丁香通</a>
                            <a target="_blank" href="https://y.dxy.cn/" class="Footer_link__1B3Lp">医院汇</a>
                        </div>
                        <div class="Footer_linkBlock__2hEKs">
                            <a target="_blank" href="https://clinic.dxy.com/" class="Footer_link__1B3Lp">云管家</a>
                            <a target="_blank" href="https://db.dxy.cn/" class="Footer_link__1B3Lp">Insight</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionR Footer_sectionR__3f3XL">
                <div class="Footer_title__6-HCw">更多产品</div>
                <div class="Footer_qrList__1rHWo">
                    <div class="Footer_qr__BbEnF"><img src="/imgs/qr/guanfang@3x.png" /><span>官方微信</span></div>
                    <div class="Footer_qr__BbEnF"><img src="/imgs/qr/dxy@3x.png" /><span>丁香园 App</span></div>
                    <div class="Footer_qr__BbEnF"><img src="/imgs/qr/drugs@3x.png" /><span>用药助手 App</span></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>