<!-- 注意：这个文件是一个公共文件，被很多地方引用，改动需要注意其他类型页面是否有受影响 -->
<!DOCTYPE html>
<html class="

">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/NTI4MWU5.ico">
    <link rel="mask-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/MjliNWVm.svg" color="#4C4C4C">
    <link rel="apple-touch-icon-precomposed" href="//res.wx.qq.com/a/wx_fed/assets/res/OTE0YTAw.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>
    </title>
    <link href="/_static_site/_next/static/css/12sw3w2qwe12esd21.css" rel="stylesheet" />

</head>

<body id="activity-detail" class="zh_CN wx_wap_page

                      appmsg_desktop_fontsize_2  mm_appmsg
 discuss_tab  appmsg_skin_default appmsg_style_default ">

    <link rel="dns-prefetch" href="//res.wx.qq.com">
    <link rel="dns-prefetch" href="//mmbiz.qpic.cn">
    <link rel="dns-prefetch" href="https://wxa.wxs.qq.com">
    <link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/NTI4MWU5.ico">
    <link rel="mask-icon" href="//res.wx.qq.com/a/wx_fed/assets/res/MjliNWVm.svg" color="#4C4C4C">
    <link rel="apple-touch-icon-precomposed" href="//res.wx.qq.com/a/wx_fed/assets/res/OTE0YTAw.png">

    <div id="js_article" class="rich_media">
        <div id="js_top_ad_area" class="top_banner"></div>
        <div class="rich_media_inner">
            <div id="page-content" class="rich_media_area_primary">
                <div class="rich_media_area_primary_inner">

                    <div id="img-content" class="rich_media_wrp">
                        <h2 class="rich_media_title" id="activity-name">
                            {$:news.title}
                        </h2>
                        <div id="meta_content" class="rich_media_meta_list">
                            <span id="copyright_logo" class="rich_media_meta icon_appmsg_tag appmsg_title_tag">原创</span>
                            <span class="rich_media_meta rich_media_meta_text">
                                {$news.author}
                            </span>

                            <span class="rich_media_meta rich_media_meta_nickname" id="profileBt">
                                <a href="javascript:void(0);" id="js_name">
                                    心血管时间
                                </a>
                            </span>
                            <em id="publish_time" class="rich_media_meta rich_media_meta_text">{$news.publish_time format="yyyy-MM-dd"}</em>
                        </div>
                        <div class="rich_media_content " id="js_content" style="visibility: hidden;">
                            {$news.content}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

