<header id="header" class="globalAdaptation SubPageContainer_headerMain__1oSPw">
    <div class="SubPageContainer_headerL__2bdw_">
        <a class="SubPageContainer_logo__1KMQi" href="/"><img src="/imgs/logo.png" alt="丁香园" /></a>
        <div class="SubNav_subNav__GWkXg">
            <vt:foreach from="$navigations" item="#.navi" tableName="cms_channel" index="#.i" >
                <a href="{$navi.channel_href}" target="_blank" class="SubNav_link__2ipNs false">{$navi.channel_name}</a>
            </vt:foreach>
        </div>
    </div>
</header>